{% extends "tickets/menuAcceso.html" %}
{% load static %}

{% block content %}

    <br>
    <br>
<!-- Container -->
<div id="container">
    <!-- INICIA MODAL -->
    <div class="card">


        <div class="myForm">

            <form id="ModalCaptura" method="POST" onsubmit="return valida(this)">

                <div class="modal fade" id="exampleModal" tabindex="-1"
                     role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Actualiza
                                    Contraseña</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="usuario" class="col-form-label">Usuario:</label>
                                    <input type="text" class="form-control" id="usuario" name="usuario"
                                           value="">
                                </div>
                                <div class="form-group">
                                    <label for="contrasenaAnt" class="col-form-label">Contrasena anterior:</label>
                                    <input type="text" class="form-control" id="contrasenaAnt" name="contrasenaAnt"
                                           value="">
                                </div>
                                <div class="form-group">
                                    <label for="contrasenaNueva" class="col-form-label">Nueva contrasena:</label>
                                    <input type="text" class="form-control" id="contrasenaNueva" name="contrasenaNueva"
                                           value="">
                                </div>

                                <div class="form-group">
                                    <label for="contrasenaNueva2" class="col-form-label">De nuevo contrasena:</label>
                                    <input type="text" class="form-control" id="contrasenaNueva2"
                                           name="contrasenaNueva2"
                                           value="">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span id="mensaje" name="mensaje" style="color:blue">{{Error}}</span>
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <input type="button" class="btn btn-primary" value="save" onclick="Agrabar1()">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </div>


    <!-- TERMINA MODAL -->



    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/admin/">CLINICA MEDICAL - TICKETS </a></h1>

        </div>


    </div>
    <!-- END Header -->


    <div class="main shifted" id="main">


        <div class="content">


            <!-- Content -->
            <div id="content" class="colM">


                <div id="content-main">


                    <form action="/validaAcceso/" method="post" id="login-form"><input type="hidden"
                                                                                       name="csrfmiddlewaretoken"
                                                                                       value="MJ1CwN7LHRoBZUnyQoPpHBnb4M3PwGYmsLJeNsN92l41zY9ZaUPztrhcMWyUTHxc">
                        <div class="form-row">

                            <label class="required" for="id_username">Username:</label> <input type="text"
                                                                                               name="username"
                                                                                               autofocus=""
                                                                                               autocapitalize="none"
                                                                                               autocomplete="username"
                                                                                               maxlength="150"
                                                                                               required=""
                                                                                               id="id_username">
                        </div>
                        <div class="form-row">

                            <label class="required" for="id_password">Password:</label> <input type="password"
                                                                                               name="password"
                                                                                               autocomplete="current-password"
                                                                                               required=""
                                                                                               id="id_password">
                            <input type="hidden" name="next" value="/admin/">
                        </div>

                        <div class="form-row">


                            <label for="seleccion2" class="col-form-label">Sedes:</label>
                            <select id="seleccion2" name="seleccion2">
                                {% for sedes in Sedes %}
                                <option value="{{sedes.codreg_sede}}"> {{sedes.nom_sede}}</option>
                                {% endfor %}
                            </select>
<!--  <label class="required" for="id_perfil">Perfil:</label> <input type="text" name="perfil" autofocus="" autocapitalize="none" autocomplete="perfil" maxlength="150" required="" id="id_perfil">  -->

                        </div>


                <!--
                        <div class="form-row">


                            <label for="seleccion1" class="col-form-label">Seleccione Perfil:</label>
                            <select id="seleccion1" name="seleccion1">
                                {% for perfiles in Perfiles %}
                                <option value="{{perfiles.codreg_perfil}}"> {{perfiles.nom_perfil}}</option>
                                {% endfor %}
                            </select>


                        </div>

                     -->
                          <!--  <label class="required" for="id_perfil">Perfil:</label> <input type="text" name="perfil" autofocus="" autocapitalize="none" autocomplete="perfil" maxlength="150" required="" id="id_perfil">  -->
                        <span id="error" name="error" style="color:blue">{{Error}}</span>


                        <div class="submit-row">
                            <input type="submit" value="Log in">
                        </div>
                    </form>

                </div>


                <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer">
                <!--		<a  href="/findOne/19456673 ,75AAbb??" role="button" class="btn btn-primary eBtn" data-toggle="modal" onclick="$('#exampleModal').modal('show')"> Cambio Contrasena</a> -->

            </div>
        </div>
    </div>
</div>
<!-- END Container -->


{% endblock %}