{%extends 'Tickets/cabeza.html'%}
{% load static %}


{%block content%}
<script>
	function cancelar()
	{
        var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var username = document.getElementById("username").value;
        var nombreUsuario = document.getElementById("nombreUsuario").value;
        var nombreSede = document.getElementById("nombreSede").value;
        var empleadoId = document.getElementById("empleadoId").value;
          var nombre = "null";
         var perfil = document.getElementById("perfil").value;

        if (perfil == 'TALENTO')
		{
			perfil= 'TALENTO HUMANO';
		}


		var apasar = '0,' +  nombre + ',' + username + ',' + sedeSeleccionada+ ',' + nombreUsuario + ',' + nombreSede+ ',' + empleadoId + ',' + perfil;
		window.location = "/asignacionTickets/" + apasar;
	}
</script>



<div class="center">
 <form method="post" novalidate class="card">

	<input type="hidden" class="form-control" id="username" name="username" value={{Username}}>
	<input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{SedeSeleccionada}}>
	<input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
	<input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{NombreSede}}>
	<input type="hidden" class="form-control" id="empleadoId" name="empleadoId" value={{EmpleadoId}}>
	<input type="text" class="form-control" id="perfil" name="perfil" value={{Perfil}}>

 	<h2>{% if AsignacionTickets %} Actualizar {%else %} Crea {%endif%} Asignacion Tickets</h2>
	{% for field in form %}
		{% if field.name == 'completed' %}
			<p>
				{{ field.label_tag }}
				{{ field }}
			</p>
			{% if field.errors %}
        		<small class="error">{{ field.errors|striptags  }}</small>
        	{% endif %}
		{% else %}

    		{{ field.label_tag }}
        	{{ field }}

        	{% if field.errors %}
        		<small class="error">{{ field.errors|striptags  }}</small>
        	{% endif %}
        {% endif %}
	{% endfor %}

	<div class="form-buttons">
		<input type="submit" value="Grabar" class="btn btn-primary"/>
		<a  class="btn btn-outline" id="cancelar" name="cancelar" onclick="cancelar()">Cancel</a>
	</div>


</form>
</div>


{%endblock content%}
{% block final %}
final
{% endblock %}