{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src={% static 'main.js' %} defer> </script>
    <title>
        {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href={% static 'css/login.css' %} >
    <link rel="stylesheet" type="text/css" href={% static 'nav_sidebar.css' %} >
    <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %} >
    <link rel="stylesheet" type="text/css" href={% static 'css/responsive.css' %} >

    <!-- De DATA TABLE -->

     <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

    <!-- FIN De DATA TABLE -->

    <!-- Custom css -->

     <link rel="stylesheet" type="text/css" href={% static 'css/navegacionTickets.css' %} >

    <!-- Fin Custom css -->

    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <style type="text/css">
        thead tr th {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: #ffffff;
        }

        .table-responsive {
            height:200px;
            overflow:scroll;
        }

        .button {
             border: none;
             width: 580%;
             height: 90%;
             padding: 15px 32px;
             display: inline-block;

        }

        .button1 {
             background-color: #f44336;
             color: white;
             border: none;
             width: 300%;
             height: 50%;
             display: inline-block;

        }

    </style>

</head>


<body>

<!-- desde AQUI SI SEÑORES                      -->

<input type="text" class="form-control" id="username" name="username" value={{Username}}>
<input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{SedeSeleccionada}}>
<input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
<input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{NombreSede}}>
<input type="hidden" class="form-control" id="empleadoId" name="empleadoId" value={{EmpleadoId}}>

<div class="row">
    <div class="col-lg-12">
     <!--    <nav class="navbar navbar-expand-lg navbar-light bg-light">  -->
    <!-- <nav class="navbar navbar-expand-lg navbar-custom"> -->
     <!--   <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;"> -->
                <nav class="navbar  navbar-expand-lg  navbar-dark bg-dark" >
           <!--    <nav class="navbar  navbar-expand-lg  navbar-inverse" > -->
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        <li class="nav-item dropdown">
                            <div>
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #e3f2fd;">
                                    Proceso
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item"  href="/creacionTickets/{{Username}},{{SedeSeleccionada}},{{NombreUsuario}},{{NombreSede}},{{EmpleadoId}}">Creacion Tickets</a>
                                   <!--    <a class="dropdown-item"  href="/creacionTickets/">Creacion Tickets</a> -->
                                    <a class="dropdown-item"  href="/asignacionTickets/0,{{Username}}, {{SedeSeleccionada}}, {{NombreUsuario}} , {{NombreSede}},{{EmpleadoId}}">Asignacion de tickets</a>
                                    <a class="dropdown-item"  href="/gestionCoord/{{Username}}, {{SedeSeleccionada}}, {{NombreUsuario}} , {{NombreSede}},{{EmpleadoId}}">Coordinadores</a>
                                    <a class="dropdown-item"  href="/tHumano/0,{{Username}}, {{SedeSeleccionada}}, {{NombreUsuario}} , {{NombreSede}},{{EmpleadoId}}">Talento Humano</a>
                                </div>
                            </div>
                        </li>



                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #e3f2fd;">
                                Consultas
                            </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/ticketsMalla/{{Username}},{{SedeSeleccionada}},{{NombreUsuario}},{{NombreSede}},{{EmpleadoId}}">Tickets-Malla</a>

                                    </div>

                            </div>
                        </li>
                        <a class="nav-link " href="/contrasena/{{EmpleadoId}},{{Username}} , {{SedeSeleccionada}}, {{NombreUsuario}} , {{NombreSede}},{{EmpleadoId}}"  style="color: #e3f2fd;">Contraseña</a>
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                       <a class="nav-link" href="/salir" style="color: #e3f2fd;">Salir</a>

                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>


<div class="row" style="width:100%">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <div class="row" style="height:550px">
            {% block content %}

            {% endblock %}

        </div>  <!-- Deberia terminar el row-->
    </div> <!-- Deberia terminar el Col 11-->
{% block final %}

 <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-3">


    </div>
    <div class="col-lg-4"></div>
</div>


{% endblock %}



</div> <!-- Deberia terminar el row es igual a deberia cerrar el row inicial -->


 <!-- Deberia terminar el container -->


<script>
  function Agrabar1()
{

	var envios = new FormData();
	var username = document.getElementById("usuario").value;
	var contrasenaAnt = document.getElementById("contrasenaAnt").value;
	var contrasenaNueva = document.getElementById("contrasenaNueva").value;
	var contrasenaNueva2 = document.getElementById("contrasenaNueva2").value;
<!--
window.location.pathname,
-->
	$.ajax({
		type: 'POST',
    	url: '/grabar1/username,contrasenaAnt,contrasenaNueva,contrasenaNueva2',
		data: {'username':username,'contrasenaAnt':contrasenaAnt, 'contrasenaNueva':contrasenaNueva, 'contrasenaNueva2': contrasenaNueva2},
		success: function (respuesta) {
            	document.getElementById("mensaje").innerHTML = respuesta;
            	  $('#error').val(respuesta);
			$('#exampleModal1').modal().hide();
			<!-- window.location.reload(); -->
             $('#error').val(respuesta);
             	document.getElementById("error").innerHTML = respuesta;

                    },
	   		    error: function (request, status, error) {
	   	    	}
	});
};

</script>




    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker-standalone.css">
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>

</body>
</html>