{%extends 'Tickets/cabeza.html'%}
{% load static %}


{%block content%}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>


<script>


	function golpe1(id)
	{


        var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var username = document.getElementById("username").value;
        var nombreUsuario = document.getElementById("nombreUsuario").value;
        var nombreSede = document.getElementById("nombreSede").value;
        var empleadoId = document.getElementById("empleadoId").value;
        var perfil = document.getElementById("perfil").value;


      	if (perfil == 'TALENTO')
      		{
      			perfil= 'TALENTO HUMANO';
      		}




		var apasar = id + ',' + username + ',' + sedeSeleccionada+ ',' + nombreUsuario + ',' + nombreSede+ ',' + empleadoId  + ',' + perfil;

		 $(location).attr('href',  '/gestionCoord/update/' + apasar);

	}


	function crearMalla()
	{
        var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var username = document.getElementById("username").value;
        var nombreUsuario = document.getElementById("nombreUsuario").value;
        var nombreSede = document.getElementById("nombreSede").value;
        var empleadoId = document.getElementById("empleadoId").value;
        var perfil = document.getElementById("perfil").value;

		var apasar =  username + ',' + sedeSeleccionada+ ',' + nombreUsuario + ',' + nombreSede+ ',' + empleadoId  + ',' + perfil;
		window.location = "/crearMalla/" + apasar;
	}

		function crearMallaAutomatica()
	{
        var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var username = document.getElementById("username").value;
        var nombreUsuario = document.getElementById("nombreUsuario").value;
        var nombreSede = document.getElementById("nombreSede").value;
        var empleadoId = document.getElementById("empleadoId").value;
        var perfil = document.getElementById("perfil").value;

		var apasar =  username + ',' + sedeSeleccionada+ ',' + nombreUsuario + ',' + nombreSede+ ',' + empleadoId  + ',' + perfil;
		alert("Malla Automatica");


	}




</script>


<style>
 th, td { white-space: nowrap; }
    div.dataTables_wrapper {
        margin: 0 auto;
    }

    div.container {
        width: 80%;
    }

  .table.dataTable  {
    font-family: Courier New;
    font-size:1;
    font-weight: bold;

}
.linea
{
    display: inline-block;
}

</style>


<script type="text/javascript">
    $(document).ready(function() {


        /*------------------------------------------
        --------------------------------------------
        Post Listing Page
        --------------------------------------------
        --------------------------------------------*/

        function consigueData()
        {
        var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
        var username = document.getElementById("username").value;
        var nombreUsuario = document.getElementById("nombreUsuario").value;
        var nombreSede = document.getElementById("nombreSede").value;
        var empleadoId = document.getElementById("empleadoId").value;
        var perfil = document.getElementById("perfil").value;

        var nombreEmp = document.getElementById("nombreEmp").value;
        var sede = document.getElementById("sede").value;
        var area = document.getElementById("area").value;
        var ano = document.getElementById("ano").value;
        var mes = document.getElementById("mes").value;

         var data =  {}   ;

         data['username'] = username;
         data['sedeSeleccionada'] = sedeSeleccionada;
         data['nombreUsuario'] = nombreUsuario;
         data['nombreSede'] = nombreSede;
         data['empleadoId'] = empleadoId;
         data['area'] = area;
         data['ano'] = ano;
         data['mes'] = mes;
         data['perfil'] = perfil;
         data['sede'] = sede;
         data['nombreEmp'] = nombreEmp;

         data = JSON.stringify(data);

         return data;
        }

        function llamaTabla()
        {
        data = consigueData();
        cargaTabla(data);
        }

        llamaTabla();

        function cargaTabla(data)
        {

        var table = $('.tablaCoordTickets').DataTable({

        autoWidth: false,

         "language": {
                  "lengthMenu": "Display _MENU_ registros",
                   "search": "Filtrar registros:",
                    "paginate": {
                         "first": "Primera pag",
                         "previous": "Anterior",
                         "next": "Siguiente",
                        }
                    },
         // dom: 'Bfrtip',
         //"dom": '<f<Brtip><"#df"<"pull-left" i><"pull-right"p><"pull-right"l>>>',
         "dom": '<f<Brtip><"#df"<"pull-left"l>>>',
         "lengthChange": true,
         "lengthMenu": [[3, 5, 10, 20, 30, -1], [3, 5, 10, 20, 30, "All"]],

            buttons: [
                "excel",
//                "pdf",
            ]  ,
            processing: true,
            serverSide: false,
            columnDefs: [

                  {
                  "targets": [0],
                   "render": function ( data, type, row ) {
                        var btn = '';
                    //    btn = btn + " <button class='btn btn-primary editPost' data-pk='" + row.pk + "'>" + '<i class="fa fa-pencil"></i>' + "</button>";
                        return btn;
                    },

                    "targets": [37],
                   "render": function ( data, type, row ) {
                        var btn = '';
                        btn = btn + " <button class='btn btn-danger deletePost' data-action='post/" + row.pk + "/delete' data-pk='" + row.pk + "'>" + '<i class="fa fa-trash"></i>' + "</button>";
                        return btn;
                    },

                    "targets": 38,
                }
            ],
            ajax: {

                data: function ( d ) {

                             data = consigueData();
                             d.extra_search =data;
                         },
                 url:"/load_dataCoordTickets/" +  data,
                 type: "POST",
                dataSrc: ""
            },

           columns: [
            {
                "data": null,
                "bSortable": false,
                "mRender": function(data, type, row,  value) {
                return " <button class='btn btn-primary editPost' data-pk='" + row.pk + "'>" + '<i class="fa fa-pencil"></i>' + "</button>";

                }
            },

                { data: "fields.id"},
                { data: "fields.nom_sede"},
                { data: "fields.nombreEmpleado"},
                { data: "fields.nombreArea"},
                { data: "fields.ano"},
                { data: "fields.mes"},
                { data: "fields.dia1" },
                { data: "fields.dia2"},
                { data: "fields.dia3"},
                { data: "fields.dia4"},
                { data: "fields.dia5"},
                { data: "fields.dia6"},
                { data: "fields.dia7"},
                { data: "fields.dia8"},
                { data: "fields.dia9"},
                { data: "fields.dia10"},
                { data: "fields.dia11"},
                { data: "fields.dia12"},
                { data: "fields.dia13"},
                { data: "fields.dia14"},
                { data: "fields.dia15"},
                { data: "fields.dia16"},
                { data: "fields.dia17"},
                { data: "fields.dia18"},
                { data: "fields.dia19"},
                { data: "fields.dia20"},
                { data: "fields.dia21"},
                { data: "fields.dia22"},
                { data: "fields.dia23"},
                { data: "fields.dia24"},
                { data: "fields.dia25"},
                { data: "fields.dia26"},
                { data: "fields.dia27"},
                { data: "fields.dia28"},
                { data: "fields.dia29"},
                { data: "fields.dia30"},
                { data: "fields.dia31"},
            ]
        });

           // table.columns.adjust().draw();
       /*--------------------------------------------
        Click to Edit Button
        --------------------------------------------
        --------------------------------------------*/
        $('body').on('click', '.editPost', function () {

          var username = document.getElementById("username").value;
          var empleadoId = document.getElementById("empleadoId").value;
          var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
          var nombreUsuario = document.getElementById("nombreUsuario").value;
          var nombreSede = document.getElementById("nombreSede").value;
          var perfil = document.getElementById("perfil").value;
          var post_id = $(this).data('pk');

        var apasar = post_id + ',' + username + ',' + sedeSeleccionada+ ',' + nombreUsuario + ',' + nombreSede+ ',' + empleadoId + ',' + perfil;
		window.location = "/gestionCoordMalla/update/" + apasar;

        });

        /*------------------------------------------
        --------------------------------------------
        Print Error Msg
        --------------------------------------------
        --------------------------------------------*/
        function printErrorMsg(msg) {
            $('.error-msg').find('ul').html('');
            $('.error-msg').css('display','block');
            $.each( msg, function( key, value ) {
                $(".error-msg").find("ul").append('<li>'+value+'</li>');
            });
        };

         /*------------------------------------------
        --------------------------------------------
        Delete Post Code
        --------------------------------------------
        --------------------------------------------*/
        $("body").on("click",".deletePost",function(){
            var current_object = $(this);
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "error",
                showCancelButton: true,
                dangerMode: true,
                cancelButtonClass: '#DD6B55',
                confirmButtonColor: '#dc3545',
                confirmButtonText: 'Delete!',
            },function (result) {
                if (result) {
                    var action = current_object.attr('data-action');
                    var username = document.getElementById("username").value;
                    var empleadoId = document.getElementById("empleadoId").value;
                    var sedeSeleccionada = document.getElementById("sedeSeleccionada").value;
                    var nombreUsuario = document.getElementById("nombreUsuario").value;
                    var nombreSede = document.getElementById("nombreSede").value;
                    var perfil = document.getElementById("perfil").value;
                    alert("action = " + action);

                    //var token = $("input[name=csrfmiddlewaretoken]").val();
                    var id = current_object.attr('data-pk');


                    action = "/gestionCoord/post/" + id + ',' + username + ',' + sedeSeleccionada + ',' + nombreUsuario   + ',' + nombreSede  +',' + empleadoId + ',' + perfil + '/delete/';
                    alert("action = " + action);

                    $('body').html("<form class='form-inline remove-form' method='post' action='"+action+"'></form>");
                    $('body').find('.remove-form').append('<input name="_method" type="hidden" value="delete">');
                    // $('body').find('.remove-form').append('<input name="csrfmiddlewaretoken" type="hidden" value="'+token+'">');
                    $('body').find('.remove-form').append('<input name="id" type="hidden" value="'+id+'">');
                    $('body').find('.remove-form').submit();
                }
            });
        });

        };

     // table.buttons().container().appendTo($('#printbar'));

  $('#buscarMalla').on('click', function() {
     data = consigueData();
     $('.tablaCoordTickets').DataTable().clear().destroy();
     cargaTabla(data);
     return false;
    });
   });
</script>





	<nav aria-label="Page navigation example">
      {% if is_paginated %}

      <ul class="pagination">
          <center><h4>Mis Tickets Asignados</h4> </center> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}"
            >&laquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        {% endif %}
		  {% for i in paginator.page_range %} {% if page_obj.number == i %}
        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %} {% endfor %} {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?page={{page_obj.next_page_number}}" class="page-link"
            >&raquo;</a
          >
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">&raquo;</a>
        </li>
        {% endif %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Ticket No: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="text"  id="idTicket" name="idTicket" size="15px" placeholder="Busqueda" values="0">
		<span size="150px"></span>
		  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="button"  id="buttonTicket" name="buttonTicket" value="BUSCAR" onclick="buscar()">
      </ul>
      {% endif %}

    </nav>

    <div class="form-group mx-sm-6 ">
        <input type="hidden" class="form-control" id="username" name="username" value={{Username}}>
        <input type="hidden" class="form-control" id="sedeSeleccionada" name="sedeSeleccionada" value={{SedeSeleccionada}}>
        <input type="hidden" class="form-control" id="nombreUsuario" name="nombreUsuario" value={{NombreUsuario}}>
        <input type="hidden" class="form-control" id="nombreSede" name="nombreSede" value={{NombreSede}}>
        <input type="hidden" class="form-control" id="empleadoId" name="empleadoId" value={{EmpleadoId}}>
        <input type="hidden" class="form-control" id="perfil" name="perfil" value={{Perfil}}>

        {% if GestionCoord %}

         <div class="row">

            <div style=" background-color:#7B67FA ">
                <center>
                    <H6>
                    <span style="font-style:font-size:1px">
                            <b>
                           <FONT COLOR="white">  GESTION COORDINADORES </FONT>
                            </b>
                    </span>
                    </H6>
                </center>
            </div>
        </div>



        <ul class="tasks">
            <div id="noTomar1" class="scrollable2" align="center">
                <div class="alert alert-success success-msg" style="display:none"></div>
                <table class="table table-bordered tablaAsignacionTickets">
                    <thead>
                    <tr>

                        <th>id</th>
                        <th>Tipo</th>
                        <th>Empleado</th>
                        <th>fecha</th>
                        <th>desde Ini</th>
                        <th>hasta Ini</th>
                        <th>Estado</th>
                         <th>Editar</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% for gestionCoord in GestionCoord %}
                    <a href="#" class="{% if gestionCoord.completed%}completed{%endif%}"></a>
                    <div class="task-controls">
                        <tr>

                            <td>{{ gestionCoord.id }}</td>
                            <td>{{ gestionCoord.tiposTicket}}</td>
                            <td>{{gestionCoord.empleado}}</td>
                            <td>{{ gestionCoord.fecha }}</td>
                            <td>{{ gestionCoord.desdeInicial }}</td>
                            <td>{{ gestionCoord.hastaInicial }}</td>
                            <td>{{ gestionCoord.estadoRespuestaCoordinador }}</td>
                              {% if Perfil == 'COORDINADOR' %}
                        <td><a id="golpe" name="golpe" onclick="golpe1({{gestionCoord.id}})"><i class="fa fa-pencil"></i></a></td>
                              {% endif %}

                        </tr>
                    </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% else %}
            <p>🎉 Yay, you have no pending tasks!</p>
            {% endif %}
        </ul>

<div class="row mb-1">
    <div class="col-mx-10">
        <div class="card">
            <div class="card-header" style="font-family:'Times New Roman'; font-size:12px ">

                         M A L L A &nbsp;&nbsp;&nbsp; D E &nbsp;&nbsp;&nbsp; T U R N O S
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Buscar por :
                                SEDE:
                                    <select  id="sede" name="area" style=" width:110px; " size="1" >
                                        {% for sede in Sedes %}
                                            <option value="{{sede.id}}"> {{sede.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     AREA:
                                    <select  id="area" name="area" style=" width:110px; " size="1" >
                                        {% for areas in Areas %}
                                            <option value="{{areas.id}}"> {{areas.nombre}}</option>
                                        {% endfor %}
                                    </select>

                                     &nbsp;&nbsp;&nbsp; AÑO: <input type="text"  id="ano" name="ano" size="5px" value="{{Ano}}"/>
                                      &nbsp;&nbsp;&nbsp;MES: <input type="text"  id="mes" name="mes" size="5px" value="{{Mes}}"/>
                                         &nbsp;&nbsp;&nbsp;NOMBRE: <input type="text"  id="nombreEmp" name="nombreEmp" size="30px" value="0"/>
                &nbsp;
                &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                 <input type="button"  id="buscarMalla" name = "buscarMalla" class="linea" value="Consultar" />
                {% if Perfil == 'COORDINADOR' %}



                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;




                  <input type="button"  class="linea" value="Crear Malla" onclick="crearMalla()"/>




            <!--      <input type="button"  class="linea" value="Malla Automatica" onclick="crearMallaAutomatica()"/>  -->

                {% endif %}


                </div>
                <div class="card-body" style="font-family:'Times New Roman'; font-size:6px " >
                    <div class="row mb-1">
                         <!-- <div id="printbar" style="float:right"></div>  -->
                        <div id="noTomar2" class="scrollable5" align="center" style="font-family:'Times New Roman'; font-size:12px ">
                        <div class="col-mx-12" >
                               <div class="alert alert-success success-msg" style="display:none" ></div>
                                <table  class="table-bordered table-hover  tablaCoordTickets"  id="tablaCoordTickets" name="tablaCoordTickets" style="font-family:'Times New Roman'; font-size:6px ">
                                    <thead>
                                    <tr>
                                         <th>Action</th>
                                        <th>id</th>
                                        <th>Sede</th>
                                        <th>Emp</th>
                                        <th>Area</th>
                                        <th>Año</th>
                                        <th>Mes</th>
                                        <th>{{uno}}&nbsp; 1</th>
                                        <th>{{dos}}&nbsp;2</th>
                                        <th>{{tres}}&nbsp;3</th>
                                        <th>{{cuatro}}&nbsp;4</th>
                                        <th>{{cinco}}&nbsp;5</th>
                                        <th>{{seis}}&nbsp;6</th>
                                        <th>{{siete}}&nbsp;7</th>
                                        <th>{{ocho}}&nbsp;8</th>
                                        <th>{{nueve}}&nbsp;9</th>
                                        <th>{{diez}}&nbsp;10</th>
                                        <th>{{once}}&nbsp;11</th>
                                        <th>{{doce}}&nbsp;12</th>
                                        <th>{{trece}}&nbsp;13</th>
                                        <th>{{catorce}}&nbsp;14</th>
                                        <th>{{quince}}&nbsp;15</th>
                                        <th>{{diezyseis}}&nbsp;16</th>
                                        <th>{{diezysiete}}&nbsp;17</th>
                                        <th>{{diezyocho}}&nbsp;18</th>
                                        <th>{{diezynueve}}&nbsp;19</th>
                                        <th>{{veinte}}&nbsp;20</th>
                                        <th>{{veintiuno}}&nbsp;21</th>
                                        <th>{{veintidos}}&nbsp;22</th>
                                        <th>{{veintitres}}&nbsp;23</th>
                                        <th>{{veinticuatro}}&nbsp;24</th>
                                        <th>{{veinticinco}}&nbsp;25</th>
                                        <th>{{veintiseis}}&nbsp;26</th>
                                        <th>{{veintisiete}}&nbsp;27</th>
                                        <th>{{veintiocho}}&nbsp;28</th>
                                        <th>{{veintinueve}}&nbsp;29</th>
                                        <th>{{treinta}}&nbsp;30</th>
                                        <th>{{treintayuno}}&nbsp;31</th>
                                         <th>Borrar</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="card-footer" align="right">
                        <p style="font-size:15px">{{Perfil}}:&nbsp;&nbsp;&nbsp; {{NombreUsuario}}</p>
               </div>

            </div>
        </div>

    </div>

    <div class="col-mx-2">

    </div>
</div>
        </div>

{%endblock content%}
{% block final %}
{% endblock %}

