    {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src={% static 'main.js' %} defer> </script>
    <title>
        {% block title %} {% endblock %}
    </title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css"  href = {% static 'css/login.css' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'css/nav_sidebar.css' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'js/nav_sidebar.js' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'css/base.css' %} >
    <link rel="stylesheet" type="text/css"  href = {% static 'css/responsive.css' %} >

</head>

<body class=" login" data-admin-utc-offset="0"  ">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Clinica Medical</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
       <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Mision</a>
  <!--    <a class="nav-link" href="/contrasena#">Contraseña</a> -->
<a  class="nav-link" href="/findOne/19456673 ,75AAbb??"   data-toggle="modal" onclick="$('#exampleModal').modal('show')"></a>


        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>

      </div>
    </div>
  </div>
</nav>

{% block content  %}


{% endblock %}



<script>

var $ = jQuery;

 $(document).ready(function(){


  });


</script>
</body>

</html>

